body {width:600px;height:674px;margin:auto;padding:auto}
#top_bg {background-color:#9a3122;width:100%;height:50px;text-align:center}
#top_bg2 {background-color:#225a9a;width:100%;height:50px;text-align:center}
#logo {font-family:verdana;font-size:12pt;color:white;position:relative;top:15px}
#buttons_holder {margin:auto;padding:auto;text-align:center}
#rank_table {width:600px;border:0px}
.rank_column {font-family:verdana;font-size:9pt;background-color:#9a3122;color:white;min-height:30px;line-height:30px;text-align:center}
.rank_column2 {font-family:verdana;font-size:9pt;background-color:#224f9a;color:white;min-height:30px;line-height:30px;text-align:center}
.rank_white {font-family:verdana;font-size:9pt;background-color:white;color:#303030;height:12px;line-height:12px;text-align:center}
.rank_white a{color:#303030;text-decoration: none}
.rank_grey {font-family:verdana;font-size:9pt;background-color:#9e9d9d;color:#ffffff;height:12px;line-height:12px;text-align:center}
.rank_grey a{color:#ffffff;text-decoration: none}
.button_pressed {font-family:verdana;font-size:9pt;color:white;width:80px;height:80px;border-radius:80px;background-color:#9a3122;color:white;border:0px}
.button_normal {font-family:verdana;font-size:9pt;color:white;width:80px;height:80px;border-radius:80px;background-color:#d4452f;color:white;border:0px}
.button_pressed_2 {font-family:verdana;font-size:9pt;color:white;width:80px;height:80px;border-radius:80px;background-color:#225a9a;color:white;border:0px}
.button_normal_2 {font-family:verdana;font-size:9pt;color:white;width:80px;height:80px;border-radius:80px;background-color:#2f79d4;color:white;border:0px}
.font1 {font-family:verdana;font-size:9pt;color:#9a3122}
.font2 {font-family:verdana;font-size:9pt;color:#9a3122;text-align:center}
.font2 a{color:orange}
.font12 {font-family:verdana;font-size:9pt;color:#22589a}
.font22 {font-family:verdana;font-size:9pt;color:#22589a;text-align:center}
.font22 a{color:green}