body {width:800px;height:300px;margin:0;padding:0}
#rankholder{width:800px;height:300px}
.font1 {font-family:verdana;font-size:12pt;color:#9a3122}
.font2 {font-family:verdana;font-size:9pt;color:#9a3122}
.font12 {font-family:verdana;font-size:12pt;color:#22589a}
.font22 {font-family:verdana;font-size:9pt;color:#22589a}